.canvas {
  width: 1280px;
  height: 720px;
  border: 2px solid #000;
  background-image: url('/graphic/background.jpg'); /* Change this to a URL if you want to use a custom background */
  display: flex;
  flex-direction: column;
  position: relative;
}

.character-frames-container {
  /* display: grid;
  place-content: center;
  grid: auto / repeat(4, 1fr); */
  position: absolute;
  top: 40px;
  left: 140px;
  column-gap: 40px;
  row-gap: 10px;
}

.character-frame {
  width: 200px;
  height: 300px;
  border: 2px solid #fff;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: absolute;
}

.character-frame .character-image {
  width: 100%;
  height: auto;
}

.player-name-frame {
  width: 200px;
  height: 30px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  top: -10px;
  left: -2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.player-name {
  text-align: center;
  color: #000;
  font-size: 18px;
  margin-top: 5px;
}

.character-frame .secondary-character-image {
  position: absolute;
  left: 165px;
  top: 6px;
}

.character-frame .tertiary-character-image {
  position: absolute;
  left: 165px;
  top: 35px;
}

.tournament-title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-top: 6px;
}

.tournament-info {
  text-align: start;
  color: #fff;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 640px;
}

.tournament-url {
  text-align: end;
  color: #fff;
  font-size: 20px;
  position: relative;
  bottom: 30px;
  margin-right: 30px;
}

.placement-number {
  position: absolute;
  top: 0px;
  left: 15px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.tournament-logo {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.branding-text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 680px;
  left: 1080px;
}

/* IDs */

/* FRAME 1 */

#frame-1 {
  width: 250px;
  height: 350px;
  top: 140px;
  left: -60px;
}

#player-name-frame-1 {
  width: 250px;
}

#placement-number-1 {
  font-size: 42px;
}

/* FRAME 2 */

#frame-2 {
  left: 260px;
}

/* FRAME 3 */

#frame-3 {
  left: 500px;
}

/* FRAME 4 */

#frame-4 {
  left: 740px;
}

/* FRAME 5 */

#frame-5 {
  left: 220px;
  top: 320px;
  width: 180px;
  height: 280px;
}

#player-name-frame-5 {
  width: 180px;
  top: 0px;
}

/* FRAME 6 */

#frame-6 {
  left: 420px;
  top: 320px;
  width: 180px;
  height: 280px;
}

#player-name-frame-6 {
  width: 180px;
  top: 0px;
}

/* FRAME 7 */

#frame-7 {
  left: 620px;
  top: 320px;
  width: 180px;
  height: 280px;
}

#player-name-frame-7 {
  width: 180px;
  top: 0px;
}

/* FRAME 8 */

#frame-8 {
  left: 820px;
  top: 320px;
  width: 180px;
  height: 280px;
}

#player-name-frame-8 {
  width: 180px;
  top: 0px;
}
