.canvas {
  width: 1280px;
  height: 720px;
  border: 2px solid #000;
  background-image: url('/graphic/background.jpg');
}

.character-frame {
  width: 200px;
  height: 300px;
  border: 2px solid #fff;
  margin: 10px;
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
}

.character-frame .character-image {
  width: 100%;
  height: auto;
}

.player-name {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 5px;
}

.character-frame .secondary-character-image {
  position: relative;
  left: 165px;
  top: -265px;
}

.character-frame .tertiary-character-image {
  position: relative;
  left: 165px;
  top: -260px;
}

.tournament-title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
}

.tournament-info {
  text-align: start;
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
}

.tournament-url {
  text-align: end;
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
}
