.canvas {
  width: 1280px;
  height: 720px;
  border: 2px solid #000;
  background-image: url('../assets/background.jpg');
}

.character-frame {
  width: 200px;
  height: 300px;
  border: 2px solid #fff;
  margin: 10px;
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
}

.character-frame .character-image {
  width: 100%;
  height: auto;
}
